:root {
  --card-bg-color: #fff;
  --card-text-color: #070705;
  --dish-type-color: #bb5274;
  --global-radius: 8px;
  --card-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

/* body {
  background-color: #efe4e8;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
} */

.recipe-card {
  background-color: var(--card-bg-color);
  box-shadow: var(--card-shadow);
  border-radius: var(--global-radius);
  color: var(--card-text-color);
  width: 14rem;
  line-height: 1.5;
  margin: 0.5rem;
}

.recipe-card figure {
  width: 100%;
  margin: 0;
  height: 6rem;
  overflow: hidden;
  border-radius: var(--global-radius) var(--global-radius) 0 0;
}

.recipe-card figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 2rem;
}

.recipe-card h3 {
  line-height: 1;
  margin: 1rem;
}

.card {
  margin: 1rem 0.5rem 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.dish-type {
  font-weight: 600;
  letter-spacing: -0.25px;
  color: #fff;
  margin: 0;
  background-color: var(--dish-type-color);
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
}

.dish-stats {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
